.conatiner {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    left: 0px;
    top: 0px;
    z-index: -1000;
    overflow: hidden;
}

#main_title {
    font-family: 'Poiret One', cursive;
    position: relative;
    font-size: 8vw;
    z-index: 2;
    color: white;
    top: 8%;
}

#full_page{
    background-image: url(home_page_bckg.jpg);
    background-size: cover;
    height: 100vh;
}
.form-inline{
	position: relative;
}

.symbol{
    font-size: 3vw;
    vertical-align: super;
}
#login{
    top: 6vw;
    z-index: 3;
}