{% load staticfiles %}
<!DOCTYPE html>
<html lang="" en>

<head>
    <meta charset="utf-8">
    <title>listen</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/style_home_page.css' %}">
    <link rel="stylesheet" href="{% static 'main/style_mobile.css' %}">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dawning+of+a+New+Day' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Mirza|Poiret+One" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>
<body>
    <div align="center" class="container-fluid" id="full_page">
        <div id="main_title">audios.<span class="symbol"> &reg;</span></div>
        <form action="/main/verify_login/" method="POST" class="form-inline" id="login">
            {% csrf_token %} 
            {{form_login}}
            <button type="submit" class="btn btn-default">Sign In</button>
        </form>
        <!-- <form class="form-inline" id="login">
            <div class="form-group">
                <input type="email" class="form-control" id="login_email" placeholder="Email">
                <input type="password" class="form-control" id="login_pass" placeholder="Password">
                <button type="submit" class="btn btn-default">Sign In</button>
            </div>
        </form> -->
    </div>
</body>

</html>
